:root {
  --bg-color: #012426;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
button {
  transition: 0.25s ease;
  border: none;
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}
header {
  padding: 0 94px;
  height: 96px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 427px;
}
.menu-list li {
  color: #a1c3c9;
  font-size: 24px;
  line-height: 32px;
}
.menu-list li:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #05bcca;
}
.user {
  background-color: #05bcca;
}
.cover img{
    width: 100%;
}
.cover-title {
  display: flex;
  align-items: center;
  color: #05bcca;
  font-size: 32px;
  position: absolute;
  top: 140px;
  left: 40%;
}
.cover-title h2 {
  font-size: 32px;
}
.cover-title span {
  color: #fff;
}
.cover-title button {
  background-color: #c46a2b;
  width: 36px;
  height: 24px;
  border-radius: 4px;
  margin-left: 8px;
  border: none;
}

.most-popular {
  background-color: #1a1a1a;
  padding: 0 0 0 94px;
}
.most-popular h2 {
  font-size: 36px;
  line-height: 52px;
  color: #05bcca;
  text-align: center;
  position: relative;
}

.most-popular h2::after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 0;
  width: 260px;
  height: 3px;
  background: #05bcca;
}

.products {
  width: 100%;
  overflow-x: auto;
  padding: 65px 94px 94px 8px;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  scrollbar-width: none;
}
.products .card {
  width: 298px;
  height: 331px;
  background-color: #2c4246;
  padding: 8px;
  border: 1px solid #05bcca;
}
.card:hover {
  box-shadow: 0px 0px 8px 4px #05bccacc;
  border: none;
  cursor: pointer;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  color: #d9d9d9;
  font-size: 16px;
  padding-top: 20px;
}
.price h6 {
  color: #05bcca;
  font-size: 16px;
}
.add {
  background-color: #c46a2b;
  border-radius: 4px;
  width: 58px;
  height: 28px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
.footer {
  background-color: #2c4246;
  color: #d9d9d9;
  padding: 48px 372px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #05bcca;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}